//FOUNDATION------------------------------
//COMMON------------------------------
$key-color: hsl(32, 100%, 50%);
$black: #333;
$white: #fafafa;
$tag-color-blue: hsl(200, 70%, 60%);
$tag-color-green: hsl(120, 70%, 50%);
$tag-color-pink: hsl(335, 70%, 70%);
$border: solid 1px hsl(0, 0%, 85%);
$bg-stripe: repeating-linear-gradient(-45deg, $white 0px, $white 3px, #eee 3px, #eee 4px);

body {
  background: $bg-stripe;
  color: $black;
  font-family: "Hiragino Kaku Gothic Pro N", "Segoe UI", "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴ ProN W3",
    Arial, メイリオ, Meiryo, sans-serif;
}

.l-background-pattern {
  background: repeating-linear-gradient(45deg, transparent 0, transparent 3px, $white 3px, $white 4px),
    repeating-linear-gradient(-45deg, #ddd 0, #ddd 3px, $white 3px, $white 4px);
  height: 232px;
}
.l-section-base {
  background-color: $white;
  border: $border;
}
.l-section-header {
  align-items: center;
  background: linear-gradient($white 0%, $white 65%, #eee 100%);
  border-top: 3px solid $key-color;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  h3 {
    font-size: 14px;
    font-weight: normal;
    .ruby {
      margin-left: 6px;
    }
  }
  &-link {
    cursor: pointer;
    font-size: 0.7rem;
    &::before {
      color: $key-color;
      content: "\f152";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 4px;
    }
  }
}
.ruby {
  color: #bbb;
  font-size: 10px;
}
.l-body-lower {
  // align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
  &-index {
    font-size: 0.8rem;
    list-style: none;
    li {
      align-items: center;
      display: flex;
      height: 1.8rem;
      a {
        margin-left: 4px;
        &:hover {
          opacity: 0.7;
        }
      }
      &:before {
        color: $key-color;
        content: "\f0da";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
  }
}
//CONTENTS------------------------------
//HEADER------------------------------
.head-container {
  background: linear-gradient($white 0%, $white 65%, #eee);
  display: flex;
  flex-direction: column;
  .header {
    background: repeating-linear-gradient(90deg, transparent 0px, transparent 9px, #eee 9px, #eee 10px),
      repeating-linear-gradient(#e6e6e6 0px, #dfdfdf 9px, #eee 9px, #eee 10px);
    display: flex;
    height: 64px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 0 0 8px;
    width: 100%;
    &__door-plate {
      display: flex;
    }
    &__logo {
      align-self: center;
      & img {
        height: 40px;
      }
    }
    &__company-name {
      align-self: center;
      color: $key-color;
      font-family: YuMincho;
      font-size: 22px;
      margin-left: 6px;
    }
    &__menus {
      display: flex;
    }
    &__site-menu {
      display: flex;
      font-size: 12px;
      height: 16px;
      justify-content: flex-end;
      list-style: none;
      margin-top: 6px;
      width: 360px;
      li {
        cursor: pointer;
        display: flex;
        margin-left: 15px;
        i {
          vertical-align: -4px;
        }
        p {
          font-family: YuGothic;
          margin-left: 4px;
        }
      }
    }
    &__font-menu {
      background-color: $key-color;
      border-radius: 0 0 6px 6px;
      color: $white;
      font-size: 12px;
      height: 32px;
      margin-left: 16px;
      text-align: center;
      width: 184px;
      th {
        color: $white;
        font-weight: normal;
        width: 80px;
      }
      td {
        border-left: $border;
        cursor: pointer;
        width: 34px;
        &:hover {
          background-color: lighten($key-color, 15%);
        }
      }
    }
  }
  //NAV------------------------------
  .nav {
    display: flex;
    height: 56px;
    margin: 8px auto 0;
    max-width: 960px;
    width: 100%;
    ul {
      background: $white;
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 100%;
      li {
        background: linear-gradient($white 0, $white 25%, #eee 100%);
        box-shadow: 0 1px 1px 0px #e0e0e0;
        display: flex;
        flex: 0 1 156px;
        flex-direction: column;
        font-size: 14px;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

//MAIN------------------------------
.main-wrapper {
  max-width: 960px;
  overflow-x: hidden;
  position: relative;
  top: -218px;
  left: 0;
  right: 0;
  margin: auto;
}
// TOP IMAGE------------------------------l
.main__top-images {
  background: $white;
  border: $border;
  cursor: pointer;
  display: block;
  height: 304px;
  line-height: 240px;
  width: 100%;
  img {
    transition: 1.5s;
  }
  img:hover {
    opacity: 0.8;
  }
}
.transparent {
  opacity: 0;
}

// MAIN CONTAINER------------------------------
.main-container {
  margin-top: 24px;
  width: 100%;
}

.main__upper-container {
  display: flex;
  justify-content: space-between;
  // NEWS------------------------------
  .main__info {
    flex: 0 1 635px;
    height: 498px;
    &-header {
      height: 44px;
    }
    &-body {
      height: 452px;
      overflow-y: scroll;
      padding: 15px;
      li {
        border-bottom: 1px dashed #ccc;
        display: flex;
        font-size: 14px;
        padding: 8px;
      }
      time {
        align-self: center;
        flex: 1 1 82px;
      }
      &-tag {
        align-self: center;
        border-radius: 4px;
        color: $white;
        flex: 1 1 72px;
        height: 20px;
        line-height: 20px;
        margin-left: 8px;
        text-align: center;
        &.c-blue {
          background-color: $tag-color-blue;
        }
        &.c-green {
          background-color: $tag-color-green;
        }
        &.c-pink {
          background-color: $tag-color-pink;
        }
      }
      p {
        flex: 1 1 454px;
        margin-left: 16px;
      }
    }
  }
  // RIGHT COLUMN------------------------------
  .main__right-column {
    display: flex;
    flex: 0 1 310px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
    // MESSAGE------------------------------
    &__message {
      display: flex;
      height: 120px;
      &-head-container {
        border-right: $border;
        flex: 0 1 188px;
      }
      h3 {
        border-bottom: $border;
        color: $key-color;
        cursor: pointer;
        display: flex;
        height: 24px;
        justify-content: space-between;
        font-size: 12px;
        font-weight: normal;
        line-height: 24px;
        padding: 0 12px;
        &:hover {
          background: #f5f5f5;
        }
        &::after {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
      }
      &-heading {
        font-size: 12px;
        height: 70px;
        padding: 3px 12px 0px;
      }
      &-ceo-img {
        align-items: center;
        display: flex;
        flex: 0 1 132px;
        justify-content: center;
        & img {
          height: 95%;
          width: 96%;
        }
      }
    }
    // IR------------------------------
    &__ir {
      height: 280px;
      &-header {
        height: 40px;
      }
      &-body-upper {
        border-bottom: $border;
        display: flex;
        height: 148px;
        &-left,
        &-right {
          display: flex;
          flex: 0 1 160px;
          font-size: 12px;
          justify-content: center;
          padding-top: 12px;
          text-align: center;
          img {
            height: 108px;
          }
        }
      }
      &-booklet {
        cursor: pointer;
        width: 72px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    // RECRUIT------------------------------
    &__recruit {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 80px;
      justify-content: center;
      &:hover {
        opacity: 0.7;
      }
      img {
        display: flex;
        height: 68px;
        width: 300px;
      }
    }
  }
}

// MAIN-LOWER-CONTAINER------------------------------
.main__lower-container {
  display: flex;
  height: 348px;
  justify-content: space-between;
  margin-top: 16px;
  & section {
    height: 324px;
    width: 310px;
    & .l-section-header {
      height: 40px;
    }
  }
  &__section-image {
    background: #ddd;
    height: 128px;
    width: 308px;
  }
}

// SECOND-NAV------------------------------
.second-nav {
  height: 40px;
  margin-top: -218px;
  &__nav-area {
    max-width: 960px;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 960px;
      li {
        font-size: 12px;
        i {
          color: $key-color;
          margin-right: 4px;
        }
      }
    }
  }
}

.guide {
  &__wrapper {
    background: $white;
    margin-top: -16px;
    width: 100%;
  }
  &__container {
    margin: auto;
    max-width: 960px;
  }
  &__banner-area {
    margin-top: 16px;
    padding-top: 16px;
    h3 {
      position: relative;
      font-size: 0.7rem;
      font-weight: normal;
      &:after {
        background: #bbb;
        content: "";
        display: inline-block;
        height: 1px;
        position: absolute;
        left: 128px;
        right: 0;
        top: 50%;
      }
    }
  }
  &__banner-deck {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
  }
  &__banner {
    cursor: pointer;
    margin: 12px 12px 8px 0;
    &:nth-of-type(6n) {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__index-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }
  &__index-heading {
    font-size: 0.8rem;
    font-weight: normal;
    &:before {
      color: $key-color;
      content: "\f152";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 6px;
    }
  }
  &__index-body {
    list-style: none;
    margin-top: 6px;
    li {
      font-size: 0.8rem;
      height: 1.8rem;
      margin-left: 0.8rem;
      a {
        margin-left: 4px;
        &:hover {
          opacity: 0.7;
        }
      }
      &:before {
        color: $key-color;
        content: "\f0da";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
    &.news {
      margin-top: 0;
      li:before {
        content: "\f152";
        margin-right: 4px;
      }
    }
  }
}
// FOOTER------------------------------
footer {
  background: #c4c4c4;
  color: #fafafa;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 80px;
  text-align: center;
}
