@charset 'UTF-8';
/* ======================================================
   Foundation
   ====================================================== */
/* Variables
   ------------------------------------------------------ */
/*** color ***/
$main-color: #fafafa;
$key-color: #039;
$border-color: #d9d9d9;

/* Default Style
   ------------------------------------------------------ */
body {
  background: repeating-linear-gradient(-45deg, $main-color 0px, $main-color 3px, #eee 3px, #eee 4px);
  color: #333;
  font-family: "Hiragino Kaku Gothic Pro N", "Segoe UI", "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴ ProN W3",
    Arial, メイリオ, Meiryo, sans-serif;
}

body:before {
  position: absolute;
  top: 8em;
  right: 0;
  left: 0;
  height: 14.5em;
  background: repeating-linear-gradient(45deg, transparent 0, transparent 3px, $main-color 3px, $main-color 4px),
    repeating-linear-gradient(-45deg, #ddd 0, #ddd 3px, $main-color 3px, $main-color 4px);
  content: "";
}

@media screen and (max-width: 959px) {
  body:before {
    display: none;
  }
}

/* ======================================================
   Layout
   ====================================================== */
/* Centering
   ------------------------------------------------------ */
.l-container {
  max-width: 960px;
  width: 95%;
}
/* Grid
   ------------------------------------------------------ */
.l-gridContainer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 959px) {
  .l-gridContainer {
    display: block;
  }
}

/* ======================================================
   Object
   ====================================================== */
/* Component
   ------------------------------------------------------ */
/*** Section共通 ***/
.c-sectionBase {
  border: solid 1px $border-color;
  background-color: $main-color;
}
/*** Site Title ***/
.c-siteTitle {
  display: flex;
  margin-left: 6px;
  font-size: 1.3125em;
  font-family: YuMincho;

  align-self: center;
}
.c-siteTitle__link {
  color: $key-color;
  vertical-align: middle;
  text-decoration: none;
  &:before {
    display: inline-block;
    width: 128px;
    height: 40px;
    background-image: url(../img/logo0003navy.png);
    background-size: contain;
    content: "";
    vertical-align: middle;
  }
}
@media screen and (max-width: 559px) {
  .c-siteTitle {
    font-size: 1.125em;
  }
  .c-siteTitle span {
    display: inline-block;
    vertical-align: text-top;
    font-size: 1.38462em;
  }
}

/*** Support Menu ***/
.c-supportMenu {
  display: flex;
  margin-top: 6px;
  width: 360px;
  height: 16px;
  list-style: none;
  font-size: 0.75em;
  justify-content: flex-end;
}
.c-supportMenuItem {
  display: flex;
  margin-left: 15px;
}
.c-supportMenuLink {
  margin-left: 4px;
  font-family: YuGothic;
}

/*** Tag ***/
.c-tag {
  margin-left: 8px;
  min-width: 72px;
  height: 20px;
  border-radius: 4px;
  color: $main-color;
  text-align: center;
  line-height: 20px;
  align-self: center;
  flex: 1 1 auto;
}
.c-tag.-blue {
  background-color: #52b1e0;
}
.c-tag.-green {
  background-color: #63c322;
}
.c-tag.-pink {
  background-color: #e87daa;
}

/* Project
   ------------------------------------------------------ */
/*** Header ***/
.p-header {
  // display: flex;
  // flex-direction: column;
  background: linear-gradient($main-color 0%, $main-color 65%, #eee);
}

/*** User Support Menus ***/
.p-userSupports {
  display: flex;
}
@media screen and (max-width: 959px) {
  .p-userSupports {
    display: none;
  }
}

/*********************** ↑ l,c,p 精査済み *************************/
/*********************** ↓ l,c,p 未精査 *************************/

.c-sectionHeading {
  display: flex;
  padding: 0 12px;
  border-top: 3px solid $key-color;
  background: linear-gradient($main-color 0%, $main-color 65%, #eee 100%);
  align-items: center;
  justify-content: space-between;
}

.c-sectionHeading h2 {
  font-weight: normal;
  font-size: 0.875em;
}

.c-sectionHeading h2 .ruby {
  margin-left: 6px;
}

.c-sectionHeading__link {
  font-size: 0.687em;
  cursor: pointer;
}

.c-sectionHeading__link::before {
  margin-right: 4px;
  color: $key-color;
  content: "\f152";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.ruby {
  color: #bbb;
  font-size: 0.625em;
}

.l-body-lower {
  display: flex;
  margin-top: 4px;

  justify-content: space-around;
}

.l-body-lower-index {
  list-style: none;
  font-size: 0.8125em;
}

.l-body-lower-index li {
  display: flex;
  height: 28px;

  align-items: center;
}

.l-body-lower-index li a {
  margin-left: 4px;
}

.l-body-lower-index li a:hover {
  opacity: 0.7;
}

.l-body-lower-index li:before {
  color: $key-color;
  content: "\f0da";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

@media screen and (max-width: 959px) {
  .l-body-lower-index li:before {
    content: "";
  }
}

.c-fontMenu {
  margin-left: 16px;
  width: 184px;
  height: 32px;
  border-radius: 0 0 6px 6px;
  background-color: $key-color;
  color: $main-color;
  text-align: center;
  font-size: 0.75em;
}

.c-fontMenu th {
  width: 80px;
  color: $main-color;
  font-weight: normal;
}

.c-fontMenu td {
  width: 34px;
  border-left: solid 1px $border-color;
  cursor: pointer;
}

.c-fontMenu td:hover {
  background-color: #90c76b;
}

.c-tabletMenu {
  display: none;
}

@media screen and (max-width: 959px) {
  .c-tabletMenu {
    display: flex;
    margin-right: 0.75em;
    color: $key-color;

    align-items: center;
    align-self: center;
  }
  .c-tabletMenu button {
    width: 5em;
    height: 1.375em;
    border: 2px solid $key-color;
    border-radius: 4px;
    background: $main-color;
    font-size: 0.75em;
  }
  .c-tabletMenu i {
    margin-left: 1em;
    font-size: 2em;
    cursor: pointer;
  }
}

.head-container {
  display: flex;
  margin: 0 auto;
  padding: 0 0 0 8px;
  max-width: 960px;
  width: 100%;
  height: 64px;
  background: repeating-linear-gradient(90deg, transparent 0px, transparent 9px, #eee 9px, #eee 10px),
    repeating-linear-gradient(#e6e6e6 0px, #dfdfdf 9px, #eee 9px, #eee 10px);
  justify-content: space-between;
}

.nav {
  display: flex;
  margin: 8px auto 0;
  max-width: 960px;
  width: 100%;
  height: 56px;
}

.nav__list {
  display: flex;
  width: 100%;
  background: $main-color;
  list-style: none;

  justify-content: space-around;
}

.nav__item {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  background: linear-gradient($main-color 0, $main-color 25%, #eee 100%);
  box-shadow: 0 1px 1px 0 #e0e0e0;
  text-align: center;
  font-size: 0.875em;
  cursor: pointer;

  flex: 0 1 156px;
  justify-content: flex-start;
}

.nav__item:hover {
  background: linear-gradient(#eee 0, #eee 25%, $main-color 100%);
}

.nav__item:hover > .nav__subList {
  visibility: visible;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.nav__subList {
  z-index: 1;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  margin-top: 14px;
  opacity: 0;
  transition: 0.3s ease-in;

  justify-content: flex-start;
}

.nav__subListItem {
  display: flex;
  flex-direction: column;
  height: 36px;
  border-bottom: solid 1px $border-color;
  background: $main-color;

  justify-content: center;
}

.nav__subListItem:hover {
  background: $key-color;
}

.nav__subListItem:hover a {
  color: $main-color;
}

.nav__subListItem a {
  color: #333;
  text-decoration: none;
  font-size: 0.75em;
}

.nav__close {
  display: none;
}

@media screen and (max-width: 959px) {
  .nav {
    position: fixed;
    z-index: 1;
    height: auto;
    box-shadow: 5px 5px 5px 0 #333;
    opacity: 0.9;
    transition: 0.5s;
  }
  // .nav.isVisible {
  //   top: -8px;
  // }
  .nav__list {
    display: flex;
    flex-direction: column;
    height: 18.75em;
  }
  .nav__item {
    padding-top: 0;
    height: 4.44444em;
    border-bottom: 1px solid #aaa;
    background: #ddd;
    font-size: 1.125em;
    line-height: 4.44444em;
    cursor: pointer;
  }
  // .nav__subList:hover {
  //   background: #f0f0f0;
  // }
  .nav__subList,
  .nav__list .ruby {
    display: none;
  }
  .nav__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    color: $key-color;
    cursor: pointer;
    transition: 0.5s;
  }
  .nav__close:hover {
    color: #333;
    opacity: 0.7;
  }
}

.l-main {
  position: relative;
  right: 0;
  left: 0;
  overflow-x: hidden;
  margin: 1em auto 0;
}

@media screen and (max-width: 959px) {
  .l-main {
    top: 0;
    overflow: visible;
  }
}

.hero {
  display: block;
  margin-bottom: 1em;
  background: $main-color;
  cursor: pointer;
}

.hero img {
  width: 100%;
  border: solid 1px $border-color;
  transition-duration: 0.8s;
}

.hero img:hover {
  opacity: 0.8;
}

.transparent {
  opacity: 0;
}

.news {
  height: 498px;

  flex: 0 1 635px;
}

@media screen and (max-width: 959px) {
  .news {
    height: 100%;
  }
}

.news__header {
  height: 44px;
}

.news__list {
  overflow-y: scroll;
  padding: 15px;
  height: 452px;
}

@media screen and (max-width: 959px) {
  .news__list {
    padding-top: 0;
    height: 100%;
  }
}

.news__item {
  display: flex;
  padding: 8px;
  border-bottom: 1px dashed #ccc;
  font-size: 0.875em;
}

@media screen and (max-width: 559px) {
  .news__item {
    flex-direction: column;
  }
  .news__item time {
    align-self: center;
    flex: 0 1 1.125em;
  }
  .news__item div {
    margin-left: 0;

    align-self: auto;
    flex: 0 1 1.125em;
  }
  .news__item p {
    margin: 0.714286em 0 0;

    flex: 0 1 0;
  }
}

.news__list time {
  min-width: 80px;

  align-self: center;
  flex: 0 1 auto;
}

.news__list p {
  margin-left: 16px;

  flex: 5 3 454px;
}

.info-block {
  display: flex;
  flex-direction: column;
  margin-left: 12px;

  flex: 0 1 310px;
  justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .info-block {
    flex-direction: row;
    margin: 0;
    padding-left: 1em;

    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.message {
  display: flex;
  max-width: 100%;
  height: 120px;
}

.message-head-container {
  min-width: 180px;
  border-right: solid 1px $border-color;

  flex: 1 1 auto;
}

.message-heading-ja,
.message-heading-en {
  display: flex;
  padding: 0 12px;
  height: 24px;
  border-bottom: solid 1px $border-color;
  color: $key-color;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  cursor: pointer;

  justify-content: space-between;
}

.message-heading-ja:hover,
.message-heading-en:hover {
  background: #f0f0f0;
}

.message-heading-ja::after,
.message-heading-en::after {
  content: "\f0da";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.message-lead {
  display: flex;
  padding: 0 12px;
  height: 70px;
  font-size: 0.75em;

  align-items: center;
}

.message-ceo-img {
  display: flex;
  border-bottom: 1px solid #333;

  align-items: center;
  flex: 0 0 auto;
  justify-content: center;
}

.message-ceo-img img {
  height: 120px;
}

@media screen and (max-width: 959px) {
  .message {
    margin: 1em 1em 0 0;
    min-width: 400px;
    height: 100px;
    cursor: pointer;

    flex: 4 4 auto;
  }
  .message-head-container {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
  }
  .message-head-container div,
  .message-head-container h2 {
    font-size: 0.875em;
  }
  .message img {
    height: 100px;
  }
  .message:hover {
    background: #f0f0f0;
  }
  .message:hover img {
    opacity: 0.8;
  }
}

@media screen and (max-width: 559px) {
  .message {
    min-width: 320px;
    height: 3.75em;
  }
  .message-head-container h2 {
    font-size: 1.5em;
  }
  .message img,
  .message-heading-en,
  .message-lead {
    display: none;
  }
  .message-heading-ja {
    height: 100%;
    border: none;
    line-height: 2.5em;

    justify-content: center;
  }
  .message-heading-ja:after {
    margin-left: 8px;
  }
}

.ir {
  height: 280px;
}

.ir-header {
  height: 40px;
}

.ir-body-upper {
  display: flex;
  height: 148px;
  border-bottom: solid 1px $border-color;

  justify-content: space-around;
}

.ir-body-upper-left,
.ir-body-upper-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.75em;
  cursor: pointer;

  justify-content: center;
}

.ir-body-upper-left:hover,
.ir-body-upper-right:hover {
  opacity: 0.7;
}

.ir-body-upper-left img,
.ir-body-upper-right img {
  height: 108px;
}

@media screen and (max-width: 959px) {
  .ir {
    margin: 1em 1em 0 0;
    min-width: 320px;
    height: 100px;

    flex: 3 3 auto;
  }
  .ir .ruby,
  .ir .c-sectionHeading__link,
  .ir img,
  .ir-body-lower {
    display: none;
  }
  .ir-header {
    height: 1.5em;
    border-top: none;
    border-bottom: solid 1px $border-color;
    background: $main-color;
    color: $key-color;
  }
  .ir-body {
    height: 4.75em;
  }
  .ir-body-upper {
    display: flex;
    height: 100%;
    border: none;

    justify-content: space-around;
  }
  .ir-body-upper div {
    display: flex;
    font-size: 1.125em;

    flex: 1 1 auto;
  }
  .ir-body-upper div:nth-of-type(1) {
    border-right: solid 1px $border-color;
  }
  .ir-body-upper div:hover {
    background: #f0f0f0;
  }
  .ir-body-upper div p:before {
    margin-right: 0.33333em;
    color: $key-color;
    content: "\f0da";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}

.recruit {
  display: flex;
  height: 80px;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}

.recruit:hover {
  opacity: 0.7;
}

.recruit img {
  display: flex;
  width: 300px;
  height: 68px;
}

.recruit-heading {
  display: none;
}

@media screen and (max-width: 959px) {
  .recruit {
    margin: 1em 1em 0 0;
  }
}

.links-block {
  display: flex;
  margin-top: 16px;

  justify-content: space-between;
}

.links-block section {
  width: 310px;
}

.links-block section .c-sectionHeading {
  height: 40px;
}

.links-block__section-image {
  width: 308px;
  height: 128px;
  background: #ddd;
}

.links-block__section-body {
  padding-bottom: 4px;
}

@media screen and (max-width: 959px) {
  .links-block {
    display: flex;
    flex-direction: column;
  }
  .links-block img {
    display: none;
  }
  .links-block .l-section-base {
    width: 100%;
  }
  .links-block .l-section-base:not(:last-of-type) {
    border-bottom: none;
  }
  .links-block .c-sectionHeading {
    border-top-width: 1px;
  }
  .links-block .c-sectionHeading h2 {
    margin: 0 auto;
    font-size: 1.125em;
  }
  .links-block .c-sectionHeading h2 .ruby {
    display: none;
  }
  .links-block__section-body__index {
    width: 50%;
    background: #ddd;
  }
  .links-block__section-body__index:first-child {
    border-right: 1px solid $main-color;
  }
  .links-block__section-body__index li {
    display: block;
    height: 2.5em;
    border-bottom: 1px solid $main-color;
    text-align: center;
    cursor: pointer;
  }
  .links-block__section-body__index li:hover {
    background: #d0d0d0;
  }
  .links-block__section-body__index li a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
    line-height: 2.5em;
  }
  .links-block__section-body__index li a:before {
    margin-right: 6px;
    color: $key-color;
    content: "\f152";
    vertical-align: 2px;
    font-weight: 900;
    font-size: 0.75em;
    font-family: "Font Awesome 5 Free";
  }
}

@media screen and (max-width: 559px) {
  .links-block__section-body {
    flex-direction: column;
  }
  .links-block__section-body ul {
    min-width: 100%;
  }
}

.second-nav {
  margin-top: 1em;
  height: 40px;
}

.second-nav__nav-area {
  margin: 0 auto;
  max-width: 960px;
}

.second-nav__nav-area ul {
  display: flex;
  width: 960px;
  list-style: none;

  justify-content: space-between;
}

.second-nav__nav-area ul li {
  font-size: 0.8125em;
}

.second-nav__nav-area ul li i {
  margin-right: 4px;
  color: $key-color;
}

@media screen and (max-width: 959px) {
  .second-nav {
    display: none;
  }
}

.guide {
  margin-top: 6px;
}

.guide__wrapper {
  margin-top: -16px;
  width: 100%;
  background: $main-color;
}

@media screen and (max-width: 959px) {
  .guide__wrapper {
    position: relative;
  }
}

.guide__container {
  margin: auto;
  max-width: 960px;
}

.guide__banner-area {
  margin-top: 16px;
  padding-top: 16px;
}

.guide__banner-area h2 {
  position: relative;
  font-weight: normal;
  font-size: 0.8125em;
}

.guide__banner-area h2:after {
  position: absolute;
  top: 50%;
  right: 0;
  left: 128px;
  display: inline-block;
  height: 1px;
  background: #bbb;
  content: "";
}

@media screen and (max-width: 959px) {
  .guide__banner-area h2 {
    display: none;
  }
}

.guide__banner-deck {
  display: flex;
  margin-top: 6px;

  flex-wrap: wrap;
  justify-content: center;
}

.guide__banner {
  margin: 8px;
  cursor: pointer;
}

.guide__banner:hover {
  opacity: 0.7;
}

.guide__index-container {
  display: flex;
  margin-top: 24px;
  padding-bottom: 16px;

  justify-content: space-between;
}

@media screen and (max-width: 959px) {
  .guide__index-container {
    padding-bottom: 0;
  }
  .guide__index-container section {
    display: none;
  }
  .guide__index-container div.guide__index {
    width: 100%;
  }
  .guide__index-container div.guide__index ul {
    display: flex;
    background: #ddd;

    flex-wrap: wrap;
  }
  .guide__index-container div.guide__index ul li {
    margin-left: 0;
    width: 50%;
    height: 2.5em;
    border-bottom: 1px solid $main-color;
    text-align: center;
    cursor: pointer;
  }
  .guide__index-container div.guide__index ul li:nth-of-type(-n + 4) {
    border-right: 1px solid $main-color;
  }
  .guide__index-container div.guide__index ul li:hover {
    background: #d0d0d0;
  }
  .guide__index-container div.guide__index ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
    line-height: 2.5em;
  }
}

@media screen and (max-width: 559px) {
  .guide__index-container div.guide__index ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .guide__index-container div.guide__index ul li {
    width: 50%;
  }
  .guide__index-container div.guide__index ul li:nth-of-type(-n + 4) {
    border-right: none;
  }
}

.guide__index-heading {
  font-weight: normal;
  font-size: 0.8125em;
}

.guide__index-heading:before {
  margin-right: 6px;
  color: $key-color;
  content: "\f152";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.guide__index-body {
  list-style: none;
}

.guide__index-body li {
  margin-left: 1em;
  height: 28px;
  font-size: 0.8125em;
}

.guide__index-body li a {
  margin-left: 4px;
}

.guide__index-body li a:hover {
  opacity: 0.7;
}

.guide__index-body li:before {
  color: $key-color;
  content: "\f0da";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.guide__index-body.news {
  margin-top: 0;
}

.guide__index-body.news li:before {
  margin-right: 4px;
  content: "\f152";
}

footer {
  display: flex;
  height: 3.75em;
  background: #c4c4c4;
  color: $main-color;
  font-size: 1em;

  align-items: center;
  justify-content: center;
}

/* ======================================================
   Utility
   ====================================================== */
.u-small {
  vertical-align: text-bottom;
  letter-spacing: -2px;
  font-size: 0.75em;
}
/*# sourceMappingURL=style.css.map */
