@charset 'UTF-8';

/* ======================================================
   Foundation
   ====================================================== */
/* Variables
   ------------------------------------------------------ */
/*** color ***/
$main-color: #fafafa;
$key-color: #039;
$border-color: #d9d9d9;

/* Default Style
   ------------------------------------------------------ */
body {
  background: repeating-linear-gradient(-45deg, $main-color 0px, $main-color 3px, #eee 3px, #eee 4px);
  color: #333;
  font-family: "Hiragino Kaku Gothic Pro N", "Segoe UI", "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴ ProN W3",
    Arial, メイリオ, Meiryo, sans-serif;
}

@media screen and (max-width: 959px) {
  body:before {
    display: none;
  }
}

/* ======================================================
   Layout
   ====================================================== */
/* Centering
   ------------------------------------------------------ */
.l-container {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

/* Main
   ------------------------------------------------------ */
.l-main {
  position: relative;
  right: 0;
  left: 0;
  overflow-x: hidden;
  margin: 1em auto 0;
}
@media screen and (max-width: 959px) {
  .l-main {
    top: 0;
    overflow: visible;
  }
}

/* Grid
------------------------------------------------------ */
.l-headerContainer .l-container {
  overflow: hidden;
}
.l-siteTitle {
  float: left;
}
.l-userSupports {
  float: right;
}
.l-gridContainer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 959px) {
  .l-gridContainer {
    display: block;
  }
}

/* ======================================================
   Object
   ====================================================== */
/* Component
   ------------------------------------------------------ */
/*** Section共通 ***/
.c-sectionBase {
  border: solid 1px $border-color;
  background-color: $main-color;
}

/*** Site Title ***/
.c-siteTitle {
  display: inline-block;
  font-size: 1.3125em;
  font-family: YuMincho;
  align-self: center;
}
.c-siteTitle__link {
  display: block;
  color: $key-color;
  // vertical-align: middle;
  text-decoration: none;
  padding: 12px 0 12px;
  &:before {
    display: inline-block;
    width: 128px;
    height: 40px;
    background-image: url(../img/logo0003navy.png);
    background-size: contain;
    content: "";
    vertical-align: middle;
  }
}
@media screen and (max-width: 559px) {
  .c-siteTitle {
    font-size: 1.125em;
    span {
      display: inline-block;
      vertical-align: text-top;
      font-size: 1.38462em;
    }
  }
}

/*** Support Menu ***/
.c-supportMenu {
  margin-top: 6px;
  overflow: hidden;
  list-style: none;
  font-size: 0.75em;
  justify-content: flex-end;
}
.c-supportMenu__item {
  float: left;
  margin-left: 15px;
}
.c-supportMenu__link {
  margin-left: 4px;
  font-family: YuGothic;
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #039;
  }
}

/*** Font Menu ***/
.c-fontMenu {
  margin-left: 16px;
  width: 20em;
  height: 2.66667em;
  border-radius: 0 0 6px 6px;
  background-color: $key-color;
  color: $main-color;
  text-align: center;
  font-size: 0.75em;
  th {
    width: 6.66667em;
    color: $main-color;
    font-weight: normal;
  }
  td {
    width: 2.83333em;
    border-left: solid 1px $border-color;
    cursor: pointer;
    &:hover {
      background-color: $key-color + #1a1a1a;
    }
  }
}

/*** Navigation ***/
.c-nav {
  clear: both;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  height: 4em;
}
.c-nav__list {
  display: flex;
  width: 100%;
  background: $main-color;
  list-style: none;
  justify-content: space-around;
}
.c-nav__item {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  background: linear-gradient($main-color 0, $main-color 25%, #eee 100%);
  box-shadow: 0 1px 1px 0 #e0e0e0;
  text-align: center;
  font-size: 0.875em;
  cursor: pointer;
  width: calc(16.66667% - 4px);
  justify-content: flex-start;
  &:hover {
    background: linear-gradient(#eee 0, #eee 25%, $main-color 100%);
    & .c-nav__subList {
      visibility: visible;
      opacity: 1;
      transition: 0.2s ease-in-out;
    }
  }
}
.c-nav__twoLines {
  display: inline-block;
  line-height: 1;
  margin-bottom: 0.25em;
}
.c-nav__subList {
  z-index: 1;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  margin-top: 14px;
  opacity: 0;
  transition: 0.2s ease-in;
  justify-content: flex-start;
  width: 10em;
  min-width: 100%;
}
.c-nav__subListItem {
  display: flex;
  flex-direction: column;
  height: 36px;
  border-bottom: solid 1px $border-color;
  background: $main-color;
  justify-content: center;
  &:hover {
    background: $key-color;
    a {
      color: $main-color;
    }
  }
  a {
    color: #333;
    text-decoration: none;
    font-size: 0.75em;
  }
}
.c-nav__close {
  display: none;
}
@media screen and (max-width: 959px) {
  .c-nav {
    position: fixed;
    z-index: 1;
    height: auto;
    box-shadow: 5px 5px 5px 0 #333;
    // opacity: 0.9;
  }
  .c-nav__list {
    position: fixed;
    top: -100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }
  .isVisible .c-nav__list {
    top: 0;
  }
  .c-nav__item {
    width: 100%;
    padding-top: 0;
    height: 4.44444em;
    border-bottom: 1px solid #aaa;
    background: #ddd;
    font-size: 1.125em;
    line-height: 4.44444em;
    cursor: pointer;
  }
  .c-nav__subList,
  .c-nav__list .english {
    display: none;
  }
  .c-nav__close {
    transform: translateY(-200%);
    position: fixed;
    top: 0.25em;
    right: 0.25em;
    display: block;
    transition: all 0.5s;
  }
  .isVisible .c-nav__close {
    color: $key-color;
    cursor: pointer;
    transform: translateY(0%);
    transition: all 0.5s;
    &:hover {
      color: #333;
      opacity: 0.7;
    }
  }
}

/*** Section Heading ***/
.c-sectionHeading {
  // position: relative;
  display: flex;
  padding: 1em 0.5em;
  border-top: 3px solid $key-color;
  background: linear-gradient($main-color 0%, $main-color 65%, #eee 100%);
  line-height: 1;
  align-items: center;
  justify-content: flex-start;
  h2 {
    font-weight: normal;
    font-size: 0.875em;
    margin: 0;
    .english {
      margin-left: 6px;
    }
  }
}
.c-sectionHeading__more {
  position: absolute;
  top: 1.5em;
  right: 1em;
  font-size: 0.687em;
  cursor: pointer;
  &::before {
    margin-right: 4px;
    color: $key-color;
    content: "\f152";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}
.english {
  color: #bbb;
  font-size: 0.625em;
}

/*** Tag ***/
.c-tag {
  margin-left: 8px;
  min-width: 72px;
  height: 20px;
  border-radius: 4px;
  color: $main-color;
  text-align: center;
  line-height: 20px;
  align-self: center;
  flex: 1 1 auto;
  &.-blue {
    background-color: #52b1e0;
  }
  &.-green {
    background-color: #63c322;
  }
  &.-pink {
    background-color: #e87daa;
  }
}

/*** c-box ***/
.c-box__linksColumn {
  list-style: none;
  font-size: 0.8125em;
}
.c-box__links {
  display: flex;
  margin-top: 4px;
  padding-bottom: 4px;
  justify-content: space-around;
}
.c-box__linksItem {
  display: flex;
  height: 2.5em;
  align-items: center;
  a {
    margin-left: 4px;
    &:hover {
      opacity: 0.7;
    }
  }
  &:before {
    color: $key-color;
    content: "\f0da";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}
.c-box__image {
  width: 308px;
  height: 128px;
  background: #ddd;
}
@media screen and (max-width: 959px) {
  .c-box__image {
    display: none;
  }
  .c-box__linksColumn {
    width: 50%;
    background: #ddd;
  }
  .c-box__linksColumn:first-child {
    border-right: 1px solid $main-color;
  }
  .c-box__linksItem {
    display: block;
    height: 2.5em;
    border-bottom: 1px solid $main-color;
    text-align: center;
    cursor: pointer;
  }
  .c-box__linksItem:before {
    content: "";
  }
  .c-box__linksItem:hover {
    background: #d0d0d0;
  }
  .c-box__linksItem a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
    line-height: 2.5em;
  }
  .c-box__linksItem a:before {
    margin-right: 6px;
    color: $key-color;
    content: "\f152";
    vertical-align: 2px;
    font-weight: 900;
    font-size: 0.75em;
    font-family: "Font Awesome 5 Free";
  }
}
@media screen and (max-width: 559px) {
  .c-box__links {
    flex-direction: column;
  }
  .c-box__linksColumn {
    min-width: 100%;
  }
}

/*** "english" button @tablet ***/
.c-tabletMenu {
  display: none;
}
@media screen and (max-width: 959px) {
  .c-tabletMenu {
    display: flex;
    margin-right: 0.75em;
    color: $key-color;
    align-items: center;
    align-self: center;
    height: 64px;
    float: right;
  }
  .c-tabletMenu__englishButton {
    width: 5em;
    height: 1.375em;
    border: 2px solid $key-color;
    border-radius: 4px;
    background: $main-color;
    font-size: 0.75em;
  }
  .c-tabletMenu__hamburgerButton {
    margin-left: 1em;
    font-size: 2em;
    cursor: pointer;
  }
}

/* Project
   ------------------------------------------------------ */
/*** Header ***/
.p-header {
  background: linear-gradient($main-color 0%, $main-color 65%, #eee);
}
.p-headerContainer {
  width: 100%;
  background: repeating-linear-gradient(90deg, transparent 0px, transparent 9px, #eee 9px, #eee 10px),
    repeating-linear-gradient(#e6e6e6 0px, #dfdfdf 9px, #eee 9px, #eee 10px);
}

/*** User Support Menus ***/
.p-userSupports {
  display: flex;
}
@media screen and (max-width: 959px) {
  .p-userSupports {
    display: none;
  }
}

/*** p-hero ***/
.p-hero {
  display: block;
  margin-bottom: 1em;
  cursor: pointer;
  img {
    width: 100%;
    border: solid 1px $border-color;
    transition-duration: 0.8s;
    &:hover {
      opacity: 0.8;
    }
  }
}

/*** p-news ***/
.p-news {
  position: relative;
  // height: 498px;
  flex: 0 1 635px;
}
.p-news__list {
  overflow-y: scroll;
  padding: 15px;
  height: 30em;
  time {
    min-width: 80px;
    align-self: center;
    flex: 0 1 auto;
  }
  p {
    margin-left: 16px;
    flex: 5 3 454px;
  }
}
.p-news__item {
  display: flex;
  padding: 8px;
  border-bottom: 1px dashed #ccc;
  font-size: 0.875em;
}
@media screen and (max-width: 959px) {
  .p-news {
    height: 100%;
  }
  .p-news__list {
    padding-top: 0;
    height: 100%;
  }
}
@media screen and (max-width: 559px) {
  .p-news__item {
    flex-direction: column;
    time {
      align-self: center;
      flex: 0 1 1.125em;
    }
    div {
      margin-left: 0;
      align-self: auto;
      flex: 0 1 1.125em;
    }
    p {
      margin: 0.714286em 0 0;
      flex: 0 1 0;
    }
  }
}

/*** Info Block  ***/
.p-infoBlock {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: space-between;
  width: 310px;
}
@media screen and (max-width: 959px) {
  .p-infoBlock {
    // flex-direction: column;
    // margin: 0;
    // padding-left: 1em;
    // flex-wrap: wrap;
    // justify-content: space-around;
    display: block;
    width: 100%;
    margin-left: 0;
  }
}

/*** Message ***/
.p-message {
  display: flex;
  max-width: 100%;
}
.p-message__headContainer {
  min-width: 180px;
  border-right: solid 1px $border-color;
}
.p-message__heading {
  color: $key-color;
  border-bottom: solid 1px $border-color;
  position: relative;
  font-size: 0.75em;
  font-weight: normal;
  padding: 0.25em 0.5em;
}
.p-message__heading-ja,
.p-message__heading-en {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.p-message__heading-ja:hover,
.p-message__heading-en:hover {
  background: #f0f0f0;
}
.p-message__heading-ja:after,
.p-message__heading-en:after {
  content: "\f0da";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0.5em;
}
.p-message__lead {
  padding: 0.5em;
  font-size: 0.75em;
}
.p-message__ceoPhoto {
  height: 6.5em;
  img {
    height: 100%;
  }
}
@media screen and (max-width: 959px) {
  .p-message {
    margin: 1em 0 0 0;
    min-width: 400px;
    cursor: pointer;
    flex: 4 4 auto;
  }
  .p-message__heading {
    font-size: 0.875em;
  }
  .p-message:hover {
    background: #f0f0f0;
  }
  .p-message:hover img {
    opacity: 0.8;
  }
  .p-message__ceoPhoto {
    height: 6em;
  }
}
@media screen and (max-width: 559px) {
  .p-message {
    min-width: 320px;
    height: 3.75em;
  }
  .p-message__headContainer {
    width: 100%;
    border-right: none;
  }
  .p-message__heading {
    font-size: 1.25em;
    border: none;
    text-align: center;
  }
  .p-message img,
  .p-message__heading-en,
  .p-message__lead {
    display: none;
  }
  .p-message__heading-ja {
    height: 100%;
    border: none;
    line-height: 2.5em;
    justify-content: center;
  }
  .p-message__heading-ja:after {
    margin-left: 8px;
  }
  .p-message__ceoPhoto {
    display: none;
  }
}

/*** IR ***/
.p-ir {
  position: relative;
}
.p-ir__figure {
  display: flex;
  height: 9.5em;
  border-bottom: solid 1px $border-color;
  justify-content: space-around;
}
.p-ir__figure-left,
.p-ir__figure-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.75em;
  cursor: pointer;
  justify-content: center;
}
.p-ir__figure-left:hover,
.p-ir__figure-right:hover {
  opacity: 0.7;
}
.p-ir__figure-left img,
.p-ir__figure-right img {
  height: 9em;
}
@media screen and (max-width: 959px) {
  .p-ir {
    margin: 1em 0 0 0;
    min-width: 320px;
    flex: 3 3 auto;
  }
  .p-ir .english,
  .p-ir .c-sectionHeading__more,
  .p-ir img,
  .p-ir__links {
    display: none;
  }
  .p-ir__header {
    height: 1.5em;
    border-top: none;
    border-bottom: solid 1px $border-color;
    background: $main-color;
    color: $key-color;
  }
  .p-ir__body {
    height: 4em;
  }
  .p-ir__figure {
    display: flex;
    height: 100%;
    border: none;
    justify-content: space-around;
  }
  .p-ir__figure div {
    display: flex;
    font-size: 1.125em;
    flex: 1 1 auto;
  }
  .p-ir__figure div:nth-of-type(1) {
    border-right: solid 1px $border-color;
  }
  .p-ir__figure div:hover {
    background: #f0f0f0;
  }
  .p-ir__figure div p:before {
    margin-right: 0.33333em;
    color: $key-color;
    content: "\f0da";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}

/*** Recruit Banner ***/
.p-recruit {
  display: flex;
  height: 80px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.p-recruit:hover {
  opacity: 0.7;
}
.p-recruit img {
  display: flex;
  width: 300px;
  height: 68px;
}
@media screen and (max-width: 959px) {
  .p-recruit {
    margin: 1em 0 0 0;
  }
}

/*** Links Block ***/
.p-linksBlock {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}
.p-linkSection {
  width: 310px;
}
@media screen and (max-width: 959px) {
  .p-linksBlock {
    flex-direction: column;
  }
  .p-linksBlock .c-box {
    width: 100%;
  }
  .p-linksBlock .c-box:not(:last-of-type) {
    border-bottom: none;
  }
  .p-linksBlock .c-sectionHeading {
    border-top-width: 1px;
  }
  .p-linksBlock .c-sectionHeading h2 {
    margin: 0 auto;
    font-size: 1.125em;
  }
  .p-linksBlock .c-sectionHeading h2 .english {
    display: none;
  }
}

/*** Footer Links Wrapper ***/
.p-links__wrapper {
  margin-top: -16px;
  width: 100%;
  background: repeating-linear-gradient(45deg, transparent 0, transparent 3px, $main-color 3px, $main-color 4px),
    repeating-linear-gradient(-45deg, #efefef 0, #efefef 3px, $main-color 3px, $main-color 4px);
  content: "";
}
@media screen and (max-width: 959px) {
  .p-links__wrapper {
    position: relative;
  }
}

/*** Footer Links Container ***/
.p-links__container {
  margin: auto;
  max-width: 960px;
}

/*** Footer Return Vav ***/
.p-returnNav__outer {
  margin-top: 1em;
  height: 40px;
}
.p-returnNav {
  margin: 0 auto;
  max-width: 960px;
}
.p-returnNav__list {
  display: flex;
  width: 960px;
  list-style: none;
  text-align: center;
  justify-content: space-between;
}
.p-returnNav__item {
  font-size: 0.8125em;
}
.p-returnNav__icon {
  margin-right: 4px;
  color: $key-color;
}
@media screen and (max-width: 959px) {
  .p-returnNav__outer {
    display: none;
  }
}

/*** Footer Banners ***/
.p-banners {
  margin-top: 16px;
  padding-top: 16px;
}
.p-banners__heading {
  position: relative;
  font-weight: normal;
  font-size: 0.8125em;
  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 12em;
    display: inline-block;
    height: 1px;
    background: #bbb;
    content: "";
  }
}
@media screen and (max-width: 959px) {
  .p-banners__heading {
    display: none;
  }
}
.p-banners__grid {
  display: flex;
  margin-top: 6px;
  flex-wrap: wrap;
  justify-content: center;
}
.p-banners_img {
  margin: 8px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

/*** Footer Links ***/
.p-footerLinks {
  display: flex;
  margin-top: 24px;
  padding-bottom: 16px;
  justify-content: space-between;
}
.p-footerLinks__heading {
  font-weight: normal;
  font-size: 0.8125em;
  margin-bottom: 1em;
  &:before {
    margin-right: 6px;
    color: $key-color;
    content: "\f152";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}
.p-footerLinks__list,
.p-footerNav__list {
  list-style: none;
}
.p-footerLinks__item,
.p-footerNav__item {
  margin-left: 1em;
  height: 2.5em;
  font-size: 0.8125em;
}
.p-footerLinks__item a,
.p-footerNav__item a {
  margin-left: 4px;
}
.p-footerLinks__item a:hover,
.p-footerNav__item a:hover {
  opacity: 0.7;
}
.p-footerLinks__item:before {
  color: $key-color;
  content: "\f0da";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
@media screen and (max-width: 959px) {
  .p-footerLinks {
    padding-bottom: 0;
  }
  .p-footerLinks__block {
    display: none;
    width: 100%;
  }
  .p-footerLinks__list {
    display: flex;
    background: #ddd;
    flex-wrap: wrap;
  }
  .p-footerLinks__item {
    margin-left: 0;
    width: 50%;
    height: 2.5em;
    border-bottom: 1px solid $main-color;
    text-align: center;
    cursor: pointer;
  }
  .p-footerLinks__item:nth-of-type(-n + 4) {
    border-right: 1px solid $main-color;
  }
  .p-footerLinks__item:hover {
    background: #d0d0d0;
  }
  .p-footerLinks__item a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
    line-height: 2.5em;
  }
}
@media screen and (max-width: 559px) {
  .p-footerLinks__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .p-footerLinks__item {
    width: 50%;
  }
  .p-footerLinks__item:nth-of-type(-n + 4) {
    border-right: none;
  }
}

/*** Footer Nav ***/
.p-footerNav__list {
  margin: -1em 0 0 2em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border: $border-color solid 1px;
  border-radius: 8px;
}
.p-footerNav__item {
  margin-left: 0;
  &:before {
    color: $key-color;
    margin-right: 4px;
    content: "\f152";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}

/*** Address ***/
.p-address {
  display: flex;
  height: 3.75em;
  background: #c4c4c4;
  color: $main-color;
  font-size: 1em;
  align-items: center;
  justify-content: center;
}

/* ======================================================
   Utility
   ====================================================== */
/* Accessibility
   ------------------------------------------------------ */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}
.u-small {
  vertical-align: text-bottom;
  letter-spacing: -2px;
  font-size: 0.75em;
}
.u-noWrap {
  white-space: nowrap;
}

/* ======================================================
   Status
   ====================================================== */
/* Drawer Menu
   ------------------------------------------------------ */
.isVisible {
  top: 0;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
